body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background: #693510 url("/images/background.jpg") no-repeat right top fixed;
  overflow-x: hidden;
}

.hero_area {
  position: relative;
  height: 14vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(74, 27, 7), rgb(74, 27, 7));
  background-size: cover;
}

.header_section {
  padding: 15px 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #c78d2e;
}

.navbar-toggler {
  outline: none;
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all .3s;
}

.navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
}

.navbar-toggler span::before,
.navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  transition: all .3s;
}

.navbar-toggler span::after {
  top: 10px;
}

.navbar-toggler[aria-expanded="true"] {
  transform: rotate(360deg);
}

.navbar-toggler[aria-expanded="true"] span {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] span::before,
.navbar-toggler[aria-expanded="true"] span::after {
  transform: rotate(90deg);
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .s-1 {
  transform: rotate(45deg);
  margin-bottom: -4px;
}

.navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .s-3 {
  transform: rotate(-45deg);
  margin-top: -4px;
}

.navbar-toggler[aria-expanded="false"] .s-1,
.navbar-toggler[aria-expanded="false"] .s-2,
.navbar-toggler[aria-expanded="false"] .s-3 {
  transform: none;
}

.quest_section .box {
  display: flex;
  flex-direction: column;
  background-color: #4a1b07;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 45px;
}

.quest_section .box .img-box img {
  width: 100%;
}

.quest_section .box .detail-box {
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
}

.quest_section .box .detail-box a {
  color: inherit;
  font-size: 18px;
}

.quest_section .box .detail-box .quest_requester {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.quest_section .box .detail-box .quest_difficulty {
  display: flex;
  margin-bottom: 15px;
}

.quest_section .box .detail-box p {
  margin-bottom: 0;
}
