body {
  font-family: 'Poppins', sans-serif;
  background: #693510;
  background-image: url("/images/background.jpg");
}

.hero_area {
  position: relative;
  height: 14vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(74, 27, 7), rgb(74, 27, 7));
  background-size: cover;
}

.header_section {
  padding: 10px 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #c78d2e;
}

.quest_section .box {
  display: flex;
  flex-direction: column;
  background-color: #4a1b07;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 45px;
}

.quest_section .box .img-box img {
  width: 100%;
}

.quest_section .box .detail-box {
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
}

.quest_section .box .detail-box a {
  color: inherit;
  font-size: 18px;
}

.quest_section .box .detail-box .quest_requester {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.quest_section .box .detail-box .quest_difficulty {
  display: flex;
  margin-bottom: 15px;
}

.quest_section .box .detail-box p {
  margin-bottom: 0;
}
